/* Main page settings */
body {
    height: 100vh;
    width: 100vh;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

/* Styling for each individual input class */
#LandingPage > input {
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    object-position: center;
}

/* Positioning for the entire div responsible for the icon buttons. */
#LandingPage {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}