/* Main page settings */
body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    overflow: hidden;
    transition: top 0.5s ease-in-out;
}

/* Styling for each individual input class */
#LandingPage > input {
    width: 15vmax;
    height: 15vmax;
    object-fit: cover;
    object-position: center;
}

/* Positioning for the entire div responsible for the icon buttons. */
#LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

#SignInPage {
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    gap: 2vmin;
    position: absolute;
    transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.register-btn {
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.signInTextBox {
    width: 30%;
    min-width: 100px;
    height: auto;
    border-radius: 4px;
    border-color: darkblue;
    padding: 4px;
    font-size: 16px;
    font-family: fangsong;
    text-align: center;
    background-color: darkslategray;
}

.signInLabel {
    width: auto;
    height: auto;
    font-size: 20px;
    font-family: fangsong;
    text-align: center;
    color: cadetblue;
}

.landingLabel {
    width: auto;
    height: 35px;
    font-size: 26px;
    font-family: fangsong;
    text-align: right;
    color: coral;
    padding: 5px;
}

.background-overlay {
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(7px);
}

.background-image {
    transition: background-position 0.5s ease-in-out;
    position: fixed;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}